@media all and (max-width: 1300px){

}

@media all and (min-width: 1200px){

}

@media all and (max-width: 1200px){

}

/* start max-width 1200 */
@media all and (max-width: 1199px){
 /*Start home phase*/
	.header-btn a {
	background: #2D2925;
}
.ont-content-area {
	margin-left: 5rem;
}
.ont-padding {
	padding: 0rem 2rem;
}
.ont-content-area p {
	max-width: 50rem;
}
.grain::after {
	margin: 0rem 26rem 0rem auto;
}
/*end home phase*/
}
/* end max-width 1200 */
/* start max-width 991 */
@media all and (min-width: 992px){
	.regio-sliders-container{
	display: none;
}


}
@media all and (max-width: 991px){

/*start home phase*/
.menu ul li a, .header-btn a {
	margin-left: 2.2rem;
	font-size: 1.6rem;
}
.regio-heading-img img{
	display: none;
}
.right-regio-img img{
	display: none;
}
.regio-sliders-container{
	display: block;
}
.regio-left-area {
	align-items: center;
}
.regio-left-area h2 {
	margin: 5rem 0rem 5rem 0rem;
	text-align: center;
	max-width: 34rem;	
}
.regio-right-area p {
	max-width: 33rem;
	margin: 0 auto;
	margin-top: 5.5rem;	
}
.ont-distance::after {
	display: none;
}
.perfect-image{
	display: none;
}
.perfect-distence{
	margin: 5.5rem 0rem;
}
.contact form {
	margin-left:6rem;
	margin-bottom: 4rem;
}
.contact-content {
	margin-left: 6rem;
}
.hero-headidng h2 {
	font-size: 5.2rem;
	text-align: center;
	max-width: 42rem;
	margin: 0 auto;
}
.hero-logo img {
	width: 20%;
	margin: 3rem auto 3rem auto;
}
.hero-content p {
	max-width: 50rem;
	text-align: center;
	margin: 0 auto;
}
.footer-top-area .col-md-4:last-child{
	margin-top: 2rem;
}
/*end home phase*/
}
/* end max-width 991 
/* start max-width 767 */
@media all and (min-width: 768px){
	.header-opacity {
	display: flex !important;
}
}
@media all and (max-width: 767px){
/*Start menu*/
	.menu-btns{
		display: flex;
		z-index: 999;
		position: relative;
	}
.header-area {
	position: relative;
	margin-bottom: -3rem;
}
.header-area .container {
	max-width: 100%;
	padding: 0;
}
.header-opacity {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background: #2D2925F2;
	padding: 6.5rem 0rem;
	border-radius: 0;
	z-index: 11;
	display: none;
}
.menu ul {
	flex-direction: column;
}
.menu ul li a, .header-btn a {
	margin-left: 0rem;
	font-size: 2rem;
}
.header-btn {
	justify-content: center;
}
.menu ul li a{
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;

}
.menu {
	margin-bottom: 4rem;
}
.header-btn a {
	background: #423324;
	padding: 1.3rem 3.2rem;
}
.nut {
	display: none;
}
.subtract-distance {
	border-radius: 0;
}
.subtract-distance::before {
	display: none;
}
.logo-image-area img {
	position: relative;
	z-index: 1;
}
.logo-image-area {
	margin-top: 13.7rem;
}
.subtract {
	max-width: 60rem;
	margin: 0 auto;
	padding: 3rem 5rem 0rem 5rem;
}
.subtract-distance::after {
	right: 0rem;
	left: 0;
	margin: 0 auto;
}
.subtract-area {
	margin-bottom: 16.5rem;
}
.regio-slide {
	margin-right: -10rem;
	margin-left: 3rem;
}
.perfect-heading-area {
	flex-direction: column;
}
.perfect-heading-area h2 {
	font-size: 4.6rem;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 2rem;
}
.perfect-heading-area p {
	margin: 0 auto;
}
.perfect-heading-area p span {
	margin-top: 0.5rem;
}
.per-paragraph p {
	margin: 0 auto;
}
.ontspannen-area {
	margin: 0rem 0rem 10rem 0rem;
}
.meeting-content h2 {
	font-size: 3.6rem;
	text-align: center;
}
.metting-btn {
	text-align: center;
}
.eamil-content{
	order: -1;
}
.contact form {
	margin-bottom: 0;
	margin-top: 3rem;
}
.footer-top-area .col-md-4:last-child {
	margin-top: 0rem;
}
.footer-items-1 {
	margin-bottom: 6rem;
}
.date-time ul li span {
	flex-basis: 43%;
}
.copy-write-area ul li {
	margin-left: 1rem;
	font-size: 1.2rem;
}
.grain::after {
	margin: 0 auto;
}
.regio-right-area p {
	margin: 0 auto;
	margin-top: 5.5rem;
	margin-bottom: 7rem;
}
/*End menu*/

/*End Home-phase*/
}
/* start max-width 575 */
@media all and (max-width: 575px){
.logo-image-area img {
	max-width: 17rem;
	height: 16rem;
}
.logo-image-area img {
	position: relative;
	top: -6rem;
}
.subtract-distance {
	padding: 7rem 0rem 10rem 0rem;
}
.footer-items-1 {
	text-align: center;
}
.footer-areas .row .col-sm-6:nth-child(1) {
	order: ;
	order: -2;
}
.footer-areas .row .col-sm-6:nth-child(3) {
	order: ;
	order: -1;
}
.footer-areas .row .col-sm-6:nth-child(2) {
	margin: 3rem 0rem;
}

.date-time {
	display: flex;
	justify-content: space-between;
}
.date-time ul {
	flex-basis: 65%;
}
.date-time p {
	text-align: right;
}
.footer-top-area {
	padding: 10rem 3rem 10rem 3rem;
}
.copy-write-area ul {
	justify-content: center;
	margin-right: 0;
	flex-wrap: wrap;
	padding: 3rem 0rem;
}
.copy-write-area ul li {
	font-size: 1.2rem;
	margin: .3rem 1rem;
}
.hero-content p {
	max-width: 42rem;
}
.meeting-area {
	padding: 0rem 3rem;
}


}
/* end max-width 575 */
/* start max-width 480 */
@media all and (max-width: 480px){
	.date-time ul li {
	font-size: 1.4rem;
}
.privet-link ul li a {
	font-size: 1.4rem;
}
.date-time p {
	margin-top: 0;
}
.date-time ul {
	flex-basis: 94%;
}
.contact-content {
	margin-left: 0rem;
	padding: 0rem 3rem;
}
.contact-content h2 {
	font-size: 3.6rem;
}
.contact form {
	margin-left: 0;
	padding: 0rem 3rem;
}
.contact form {
	margin-left: 0;
	padding: 0rem 3rem;
	margin-right: 0;
	max-width: 100%;
}
.hero-content p{
	max-width: 23rem;
}
.meeting-content h2 {
	max-width: 23rem;
	margin: 0 auto;
}
.ont-padding {
	padding: 0rem 0rem;
}
.ont-content-area {
	margin-left: 0;
	padding: 6rem 3rem 8rem 3rem;
}
.ont-content-area h2 {
	font-size: 3.6rem;
}
p{
	font-size: 1.4rem;
}
.over-puur a {
	display: none;
}
.regio-right-area p {
	max-width: 30rem;
}


}
/* end max-width 480 */